/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        margin-top: 3%;
        padding: 0;
        min-width: 1100px;
    }

    .paragraph {
        max-width: 550px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .card {
        padding: 0;
    }

    .cards {
        width: 350px;
    }

    .cards-container {
        display: flex;
        align-items: center;
        max-width: 1200px;
        height: 500px;
        margin: auto;
        position: relative;
        min-width: 1100px;
        
    }

    .supervisor {
        position: absolute;
        top: 25%;
        right: 67%;
    }

    .team {
        position: absolute;
        
    }

    .karma {
        position: absolute;
        top: 60%;
    }

    .calculator {
        position: absolute;
        top: 25%;
        left: 67%;
    }
}