@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(275, 100%, 97%);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-img {
    width: 100vw;
}

main {
    background-color: #fff;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;    
}

.title-section {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 30px;
}

.star {
    width: 30px;
}

.plus {
    width: 25px;
}

.title {
    font-size: 3em;
}

.titles-h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

hr {
    margin: 20px 0px 20px 0px;
    border: 1px solid;
    border-color: hsl(275, 100%, 97%);
}

.answer {
    line-height: 20px;
    width: 460px;
    color: hsl(292, 16%, 49%);
}