@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(../images/background.jpg) center center no-repeat;
    background-size: cover;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(70px);
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 255, .2), transparent);
    transition: .5s;
}

header:hover::after {
    left: 100%;
}

header h2 {
    color: white;
    font-size: 1.7em;
    pointer-events: none;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 30px;
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    color: white;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    header {
        padding: 20px 5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu {
        display: none;
    }

    #check:checked~.icons #close {
        display: block;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        backdrop-filter: blur(25px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        transition: .5s;
        
    }

    #check:checked~nav {
        height: 17.7rem;
    }

    #check:checked~nav a {
        transition-delay: calc(.20s * var(--i));
        opacity: 1;
    }

    header nav a {
        font-size: 1.6em;
        line-height: 40px;
        opacity: 0;
        transition: 1s;
    }

    #close {
        display: none;
    }
}
